@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --cor-sombra: rgb(29, 27, 27);
    --cor-marvel: rgb(212 3 23);
}

/* -----------------------------------------TELA DE CANTO------------------------------------- */
#div-de-canto {
    height: 800px; /* MUDAR DPS */
    width: 20%;
    background-color: green;
    float: left top;
}

#h2-div-de-canto {
    text-align: center;
    text-transform: uppercase;
}

div#container-temas {
    margin-top: 20px;
}

div#container-de-canto {
    /* position: relative;
    top: 20px; */
    padding-top: 45px;
}


/* -----------------------------------------TELA DE CANTO--------------------------------------------- */



/* -----------------------------------------CLASSES ÚTEIS------------------------------------------------- */
.h1-principal {
    text-align: center;
    margin-top: 50px;
}

.container-h1-principal {
    height: 100vw;
    width: 80%;
    float: right;
}

.temas {
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.container-p-temas {
    border-top: 1px solid rgb(36, 34, 34);
}

a.a-de-canto {
    text-decoration: none;
    color: black;
}


/* -----------------------------------------CLASSES ÚTEIS------------------------------------------------- */

/* -----------------------------------------QUIZES--------------------------------------------------------- */
div.container-quizes {
    width: 96%;
    height: 700px;
    padding: 20px;
    transform: translateY(3%);
}

div.inline-quizes {
    width: 100%;
    height: 330px;
    margin-bottom:  20px; 
}

.inline-quizes-bottom {
    transform: translateY(-6%);
}

div.quizes {
    width: 400px;
    height: 300px;
    background-color: green;
    display: inline-block;
    border-radius: 20px;
    z-index: 2;
    
    
}

/* .imagens-quizes {
    border-radius: 20px;
    box-shadow: 0px 0px 0px black;
    z-index: 1;
} */

.quiz-marvel {
    background-image: url(imagens/marvel\(2\)-logo\(2\).png);
}

.p-quizes {
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    transform: translateY(350%) translateX(3%);
    text-shadow: 1px 1px 4px black;
}

.quizes-esquerda {
    float: left;
    transform: translateX(30%);
    z-index: 2;    
}

.quizes-direita {
    float: right;
    transform: translateX(-30%);
}

.quizes-esquerda:hover {
    box-shadow: inset 0px 0px 15px 5px var(--cor-sombra);
    transition: 0.5s;
    transform: translateX(30%) scale(1.05);
    /* animation-name: quiz-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.quizes-direita:hover {
    box-shadow: inset 0px 0px 15px 5px var(--cor-sombra);
    transform: translateX(-30%) scale(1.05);
    transition: 0.5s;
}

.p-quizes ~ .quizes:hover {
    display: none;
    transition: 0.5s;
}

/* @keyframes quiz-hover {
    
    100% {
        box-shadow: inset 0px 0px 15px 5px var(--cor-sombra);
        width: 410px;
        height: 310px;
    }
} */

.p-respostas {
    color: white;
    font-family: cursive;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    transform: translateY(100%);
}

/* -----------------------------------------QUIZES--------------------------------------------------------- */

/* -----------------------------------------MARVEL--------------------------------------------------------- */

.pergunta-marvel {
    background-color: rgb(212 3 23);
    height: 100px;
    width: 100%;
}

.pergunta-marvel p {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    transform: translateY(100%);
}

#stan-lee {
    transform: scale(0.8) translateX(130%);
}

.resposta-marvel {
    background-color: var(--cor-marvel);
}

.resposta-marvel:hover {
    background-color: black;
}


/* -----------------------------------------MARVEL--------------------------------------------------------- */


/* ---------------------------------------RESPOSTAS-------------------------------------------------------- */

.container-respostas {
    height: 350px;
    width: 100%;
}

.respostas-esquerda {
    height: 350px;
    width: 43%;

}

.resposta-1 {
    width: 350px;
    height: 125px;
    float: right;
}

.resposta-2 {
    width: 350px;
    height: 125px;
    float: right;
    transform: translateY(80%);
}




.respostas-direita {
    height: 350px;
    width: 43%;
    float: right;
    transform: translateY(-100%);
}

.resposta-3 {
    width: 350px;
    height: 125px;
    float: left;
}

.resposta-4 {
    width: 350px;
    height: 125px;
    float: left;
    background-color: var(--cor-marvel);
    transform: translateY(81%);
}

/* ---------------------------------------RESPOSTAS-------------------------------------------------------- */






#voltar {
    position: fixed;
    top: 80%;
    color: black;
}


/* ----------------------------------páginas pós-respostas-------------------- */

.resposta-correta {
    color: white;
    text-decoration: none;
}

.parabens {
    animation-name: parabens;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

@keyframes parabens {

    33% {
        transform: translateX(400px) translateY(400px);
        height: 50px;
    }

    66% {
        transform: translateX(500px) translateY(100px);
    }

    100% {
        transform: translateX(700px) translateY(400px) scale(3.0);
    }
}
/* ----------------------------------páginas pós-respostas-------------------- */