@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --cor-sombra: rgb(29, 27, 27);
    --cor-marvel: rgb(212 3 23);
    --sombra: 0px 0px 7px 0px var(--cor-sombra), 0px 0px 3px 0px black;
}

/* -----------------------------------------TELA DE CANTO------------------------------------- */
#div-de-canto {
    height: 800px; /* MUDAR DPS */
    width: 20%;
    background-color: green;
    float: left top;
}

#h2-div-de-canto {
    text-align: center;
    text-transform: uppercase;
}

div#container-temas {
    margin-top: 20px;
}

div#container-de-canto {
    /* position: relative;
    top: 20px; */
    padding-top: 45px;
}


/* -----------------------------------------TELA DE CANTO--------------------------------------------- */



/* -----------------------------------------CLASSES ÚTEIS------------------------------------------------- */
.h1-principal {
    text-align: center;
    margin-top: 50px;
}

.container-h1-principal {
    height: 100vw;
    width: 80%;
    float: right;
}

.temas {
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.container-p-temas {
    border-top: 1px solid rgb(36, 34, 34);
}

a.a-de-canto {
    text-decoration: none;
    color: black;
}
/* ----------------------------------------HEADER------------------------------------------------------------- */
header.header-index {
    width: 80%;
    height: 40px;
    float: right;
    background-color: green;
    position: relative;
}

button.pesquisar {
    position: absolute;
    left: 99%;
}

span#login {
    position: absolute;
    right: 3%;
    top: 19%;

    color: white;
    border: 1px solid white;
    padding: 2px;
    border-radius: 5px;
}

#form_index {
    position: absolute;
    top: 19%;
}
/* ----------------------------------------HEADER------------------------------------------------------------- */
/* -----------------------------------------CLASSES ÚTEIS------------------------------------------------- */

/* -----------------------------------------QUIZES--------------------------------------------------------- */
div.container-quizes {
    width: 96%;
    height: 700px;
    padding: 20px;
    transform: translateY(3%);
}

div.inline-quizes {
    width: 100%;
    height: 330px;
    margin-bottom:  20px; 
}

.inline-quizes-bottom {
    transform: translateY(-6%);
}

div.quizes {
    width: 400px;
    height: 300px;
    background-color: green;
    display: inline-block;
    border-radius: 20px;
    z-index: 2;
    
    
}

/* .imagens-quizes {
    border-radius: 20px;
    box-shadow: 0px 0px 0px black;
    z-index: 1;
} */

.quiz-marvel {
    background-image: url(imagens/marvel\(2\)-logo\(2\).png);
}

.p-quizes {
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    transform: translateY(350%) translateX(3%);
    text-shadow: 1px 1px 4px black;
}

.quizes-esquerda {
    float: left;
    transform: translateX(30%);
    z-index: 2;    
}

.quizes-direita {
    float: right;
    transform: translateX(-30%);
}

.quizes-esquerda:hover {
    box-shadow: inset 0px 0px 15px 5px var(--cor-sombra);
    transition: 0.5s;
    transform: translateX(30%) scale(1.05);
    /* animation-name: quiz-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.quizes-direita:hover {
    box-shadow: inset 0px 0px 15px 5px var(--cor-sombra);
    transform: translateX(-30%) scale(1.05);
    transition: 0.5s;
}

.p-quizes ~ .quizes:hover {
    display: none;
    transition: 0.5s;
}

/* @keyframes quiz-hover {
    
    100% {
        box-shadow: inset 0px 0px 15px 5px var(--cor-sombra);
        width: 410px;
        height: 310px;
    }
} */

.p-respostas {
    color: white;
    font-family: cursive;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    transform: translateY(100%);
}

/* -----------------------------------------QUIZES--------------------------------------------------------- */

/* -----------------------------------------MARVEL--------------------------------------------------------- */

.pergunta-marvel {
    background-color: rgb(212 3 23);
    height: 100px;
    width: 100%;
}

.pergunta-marvel p {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    transform: translateY(100%);
}

#stan-lee {
    transform: scale(0.8) translateX(130%);
}

.resposta-marvel {
    background-color: var(--cor-marvel);
}

.resposta-marvel:hover {
    background-color: black;
}

body#body-parabens-marvel {
    background-image: url(imagens/background-marvel\(3\).jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 753px;
}

/* -----------------------------------------MARVEL--------------------------------------------------------- */


/* ---------------------------------------RESPOSTAS-------------------------------------------------------- */

.container-respostas {
    height: 350px;
    width: 100%;
}

.respostas-esquerda {
    height: 350px;
    width: 43%;

}

.resposta-1 {
    width: 350px;
    height: 125px;
    float: right;
}

.resposta-2 {
    width: 350px;
    height: 125px;
    float: right;
    transform: translateY(80%);
}




.respostas-direita {
    height: 350px;
    width: 43%;
    float: right;
    transform: translateY(-100%);
}

.resposta-3 {
    width: 350px;
    height: 125px;
    float: left;
}

.resposta-4 {
    width: 350px;
    height: 125px;
    float: left;
    background-color: var(--cor-marvel);
    transform: translateY(81%);
}

/* ---------------------------------------RESPOSTAS-------------------------------------------------------- */






#voltar {
    position: fixed;
    top: 80%;
    color: black;
}


/* ----------------------------------páginas pós-respostas-------------------- */

.resposta-correta {
    color: white;
    text-decoration: none;
}

.parabens {
    background-color: var(--cor-marvel);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: var(--sombra);
    transform: translateY(-750px);

    animation-name: parabens, parabens-subida;
    animation-duration: 2s, 0.5s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in-out, linear;
    animation-delay: 0s, 3s;
}

p.parabenizacao {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

p.pontuacao{
    font-size: 6px;
}

div.parabenizacao-position {
    animation-name: parabenizacao;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    transform: translateY(140%);
    opacity: 0;
}

#sobrepoe {
    width: 100%;
    height: 753px;
    background-color: white;
    opacity: 1;

    animation-name: show-background;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
    
}

.jogar-mais {
    width: 250px;
    height: 50px;
    background-color: green;
    display: inline-block;
    transform: translateX(250%) translateY(-811%);
    box-shadow: var(--sombra);
    opacity: 0;

    animation-name: show-jogar-mais;
    animation-delay: 3.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.jogar-mais:hover {
    transform: translateX(250%) translateY(-811%) scale(1.1);
}

.link-jogar-mais {
    color: white;
    text-decoration: none;
    transform: translateX(250%) translateY(-811%);
}

.p-jogar-mais {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;;
    font-family: sans-serif;
    transform: translateY(80%);
}
/* --------------------------------------------ANIMAÇÕES------------------------------------------------------------ */
@keyframes parabens {

    33% {
        transform: translateX(400px) translateY(-350px);
        height: 50px;
    }

    66% {
        transform: translateX(500px) translateY(-650px);
    }

    100% {
        transform: translateX(700px) translateY(-450px) scale(3.0);
    }
}

@keyframes parabens-subida {
    100% {
        transform: translateX(700px) translateY(-550px) scale(3.0);
    }
}

@keyframes parabenizacao {
    100% {
        opacity: 1;
    }
}

 @keyframes show-background {
    100% {
        opacity: 0;
    }
} 

@keyframes show-jogar-mais {
    100% {
        opacity: 1;
    }
}
/* --------------------------------------------ANIMAÇÕES------------------------------------------------------------ */
/* ----------------------------------páginas pós-respostas-------------------- */

/* --------------------------------------------LOGIN------------------------------------------------------------ */
#nav_login {
    position: relative;
    transform: translateY(64%);
    left: 38%;
    width: 25%;
    height: 40vh;
    text-align: center;

    border: 1px solid black;
}

#form_login {
    text-align: center;
    margin-top: 10%;
}

.input_login {
    width: 65%;
    height: 28px;
    margin-top: 10%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: 0px 0px 2px green;
    outline: none;
}

#p_cadastre-se {
    margin-top: 23%;
}

#input_cadastrar-se {
    width: 250px;
    height: 50px;
    background-color: green;
    display: inline-block;
    position: absolute;
    box-shadow: var(--sombra);
}
/* --------------------------------------------LOGIN------------------------------------------------------------ */