@charset "UTF-8";

* {
    margin: 0px;
}

/* -----------------------------------------TELA DE CANTO------------------------------------- */
#div-de-canto {
    height: 800px; /* MUDAR DPS */
    width: 20%;
    background-color: green;
    float: left top;
}

#h2-div-de-canto {
    text-align: center;
    text-transform: uppercase;
}

div#container-temas {
    margin-top: 20px;
}

div#container-de-canto {
    /* position: relative;
    top: 20px; */
    padding-top: 45px;
}


/* -----------------------------------------TELA DE CANTO--------------------------------------------- */



/* -----------------------------------------CLASSES ÚTEIS------------------------------------------------- */
.h1-principal {
    text-align: center;
    margin-top: 50px;
}

.container-h1-principal {
    height: 100vw;
    width: 80%;
    float: right;
}

.temas {
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.container-p-temas {
    border-top: 1px solid rgb(36, 34, 34);
}

a.a-de-canto {
    text-decoration: none;
    color: black;
}


/* -----------------------------------------CLASSES ÚTEIS------------------------------------------------- */

/* -----------------------------------------QUIZES--------------------------------------------------------- */
div.container-quizes {
    width: 96%;
    height: 700px;
    padding: 20px;
    transform: translateY(3%);
}

div.inline-quizes {
    width: 100%;
    height: 330px;
    margin-bottom:  20px;
}

.inline-quizes-bottom {
    transform: translateY(-6%);
}

div.quizes {
    width: 400px;
    height: 300px;
    background-color: green;
    display: inline-block;
    border-radius: 20px;
}

.quizes-esquerda {
    float: left;
    transform: translateX(30%);
}

.quizes-direita {
    float: right;
    transform: translateX(-30%);
}


/* -----------------------------------------QUIZES--------------------------------------------------------- */